<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
    <title>Strona główna</title>
</head>
<body>
<section layout:fragment="content">
    <h1>Firma lelum polelum - tekst sciagniety ze strony thymeleaf</h1>
    <p style="margin: auto; width: 50%; padding: 10px;">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Praesent scelerisque neque neque, ac elementum quam dignissim interdum.
        Phasellus et placerat elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Praesent scelerisque neque neque, ac elementum quam dignissim interdum.
        Phasellus et placerat elit.
    </p>
</section>
</body>
</html>